#!/bin/bash -l
#SBATCH -N 1
#SBATCH --ntasks-per-node=1
#SBATCH --time=00:01:00
#SBATCH -A {{ grant_id }}
#SBATCH -p plgrid-testing

# Finish with error on first command with error
set -e

## Change to the directory where sbatch was called
cd $SCRATCHDIR

## Clone repository and switch into selected revision
echo Preparing computation source code
echo --------------------START-----------------------------
{% clone_repo %}
echo --------------------END-------------------------------

## Load ruby module and execute calculation
echo Generating random numbers
echo --------------------START-----------------------------
module load plgrid/tools/ruby/2.2.2
ruby mee-demo-steps/0_generate_input.rb
echo --------------------END-------------------------------

echo Uploading results
echo --------------------START-----------------------------
{% stage_out numbers.txt %}
echo --------------------END-------------------------------
echo Finish
